name: weread sync

on:
  workflow_dispatch:
  schedule:
    # 
    # 
    # 从左到右依次
    # 第一位代表 秒 ，只允许写 0-59 之间的数字
    # 第二位代表 分 ，只允许写 0-59 之间的数字，不允许出现 60
    # 第三位代表 时 , 只允许写 0-23 之间的数字，凌晨12时不允许写 24
    # 第四位代表 日 ，只允许写 1-31 之间的数字
    # 第五位代表 月 ，只允许写 1-12 之间的数字
    # 第六位代表 星期 ，只允许写 0-7 之间的数字， 0 和 7 都代表周日
    # 
    # , 代表 和 
    # * 代表 任何值
    # / 代表 每 
    # 
    # 注意：默认的时区是 UTC 时间，即：英国或者是冰岛的时间，所以要在设置时间的时候 +8 ;
    # 每年 5 月 1 日执行
    - cron: "0 0 1 5 *"
    # 
    # 每 xxx 分钟执行一次
    # - cron: "*/30 * * * *"
    # 
    # 每天 00:30 和 16:30 执行一次
    # - cron: "30 8,0 * * *"
jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: weread sync
        run: |
          python weread.py "${{secrets.WEREAD_COOKIE}}" "${{secrets.NOTION_TOKEN}}" "${{secrets.NOTION_DATABASE_ID}}" 
